body {
  padding: 90px 0px;
  background-color: #eee;
}

::-webkit-scrollbar {
  display: none;
}

table {
  table-layout: fixed;
  background: white;
}

td:hover {
  background: #ccc;
}

th {
  text-align: center;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/* jens-schedule classes */

.js-login {
  margin-top: 13px;
  float: right;
}

.js-lesson {
  padding: 0px 8px;
  margin: 1px;
  background: white;
  word-wrap: break-word;
  overflow: hidden;
}

.js-add-lesson {
  margin-top: 4px;
}

.js-weeks {
  margin-bottom: 40px;
}

.js-week {
  text-align: left;
  padding: 10px 15px;
}

.js-add-week {
  margin-bottom: 40px;
}

.js-remove-week {
  color: white;
  float: right;
  cursor: pointer;
}

.js-remove-course,
.js-remove-room,
.js-remove-teacher,
.js-remove-student,
.js-remove-lesson {
  float: right;
  cursor: pointer;
}

.js-schedule-error {
  color: red;
}

.js-headers:first-child {
  width: 40px;
}

.js-btn {
  text-align: left;
}

/* bootstrap overrides */

.page-header {
  text-align: center;
}

.btn-group {
  width: 100%;
}

.list-group-item {
  word-wrap: break-word;
  overflow: hidden;
}
