body {
  padding: 90px 0px;
  background-color: #eee;
}

::-webkit-scrollbar {
  display: none;
}

table {
  color: #555;
  table-layout: fixed;
  background: white;
}

td:hover {
  background: #f8f8f8;
}

th {
  text-align: center;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/* jens-schedule classes */

.js-login {
  margin-top: 13px;
  float: right;
}

.js-lesson {
  padding: 0px 8px;
  margin: 3px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  word-wrap: break-word;
  overflow: hidden;
}

.js-add-lesson {
  margin: 3px;
}

.js-weeks {
  margin-bottom: 40px;
}

.js-week {
  text-align: left;
  padding: 10px 15px;
}

.js-add-week {
  margin-bottom: 40px;
}

.js-remove-week {
  color: white;
  float: right;
  cursor: pointer;
}

.js-remove-course,
.js-remove-room,
.js-remove-teacher,
.js-remove-student,
.js-remove-lesson {
  float: right;
  cursor: pointer;
}

.js-conflict {
  color: red;
}

.js-no-conflict {
  color: green;
}

.js-headers:first-child {
  width: 40px;
}

.js-btn {
  text-align: left;
}

/* bootstrap overrides */

.page-header {
  text-align: center;
}

.btn-group {
  width: 100%;
  padding-right: 3px;
}

.btn {
  border-radius: 8px !important;
}

.list-group-item {
  word-wrap: break-word;
  overflow: hidden;
}
