body {
  padding: 90px 0px;
  background-color: #eee;
}

::-webkit-scrollbar {
  display: none;
}

input[type="radio"], input[type="checkbox"]{
  cursor: pointer;
  vertical-align:-2px;
}

label {
  cursor: pointer;
  font-weight: normal;
  width: 100%;
}

td:hover {
  background: #ddd;
}

th {
  text-align: center;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

/* jens-schedule classes */

.js-login {
  margin-top: 13px;
  float: right;
}

.js-table {
  color: #5f5f5f;
  border: 1px solid #e3e3e3;
  background: #f5f5f5;
  table-layout: fixed;
  border-radius: 4px;
}

.js-headers:first-child {
  width: 40px;
}

.js-lesson {
  padding: 0px 8px;
  margin: 3px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  word-wrap: break-word;
  overflow: hidden;
  cursor: move;
}

.js-badge {
  vertical-align: 1px;
}

.js-remove-course,
.js-remove-room,
.js-remove-teacher,
.js-remove-student,
.js-remove-class,
.js-remove-lesson {
  float: right;
  cursor: pointer;
}

.js-remove-class {
  margin-left: 20px;
}

.js-remove-schedule,
.js-load-class {
  cursor: pointer;
}

.js-conflict {
  color: red;
}

.js-no-conflict {
  color: green;
}

.js-btn {
  text-align: left;
  width: 100%;
  border-radius: 4px !important;
}

.js-full-width {
  width: 100%;
}

/* bootstrap overrides */

.page-header {
  text-align: center;
}

.list-group-item {
  word-wrap: break-word;
  overflow: hidden;
}

.dropdown-menu > li > a {
  clear: none;
}
